.carcassonne-counter--infos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    left: 0;
    max-width: 100vw;
    padding: 2px;
    position: fixed;
    top: 0;
    width: 100vw;
}

.carcassonne-counter--tile-container {
    height: 50px;
    position: relative;
    transition: transform 300ms ease-in-out;
    width: 50px;
    z-index: 1;
}

.carcassonne-counter--tile-container:after {
    box-shadow: 0 0 10px -1px #000000;
    color: white;
    content: attr(data-remaining);
    right: 7px;
    position: absolute;
    top: 2px;
}

.carcassonne-counter--tile-container img {
    height: 100%;
    width: 100%;
}

.carcassonne-counter--tile-container:hover {
    transform: scale(1.65) translateY(10px);
    z-index: 2;
}
