.carcassonne-counter {
    display: flex;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 10000;
}

.carcassonne-counter__button {
    background-color: #ffffff;
    border-radius: 0.2em;
    border: 2px solid #009ddb;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    font-size: 2em;
    height: 1em;
    line-height: 1em;
    margin: 0.1em;
    width: 1em;
}


.carcassonne-counter__button img {
    width: 0.8em;
}

.carcassonne-counter__tiles {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    position: relative;
    width: calc(100vw - 2em);
}

.expand .carcassonne-counter__tiles {
    display: flex;
}

.carcassonne-counter__tile-container {
    height: 50px;
    position: relative;
    transition: transform 300ms ease-in-out;
    width: 50px;
    z-index: 1;
}

.carcassonne-counter__tile-container:after {
    box-shadow: 0 0 10px -1px #000000;
    color: white;
    content: attr(data-remaining);
    right: 7px;
    position: absolute;
    top: 2px;
}

.carcassonne-counter__tile-container img {
    height: 100%;
    width: 100%;
}

.carcassonne-counter__tile-container:hover {
    transform: scale(1.65) translateY(10px);
    z-index: 2;
}
