.carcassonne-counter--infos {
    background-color: white;
    display: flex;
    justify-content: center;
    left: 0;
    max-width: 100vw;
    padding: 2px;
    position: fixed;
    top: 0;
    width: 100vw;
}

.carcassonne-counter--tile-container {
    height: 40px;
    position: relative;
    width: 40px;
}

.carcassonne-counter--tile-container:after {
    box-shadow: 0 0 10px -1px #000000;
    color: white;
    content: attr(data-remaining);
    left: 28px;
    position: absolute;
    top: 2px;
}

.carcassonne-counter--tile-container img {
    height: 100%;
    width: 100%;
}
